<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qgsg.mapper.SignMapper">

    <select id="signpage" resultType="com.qgsg.vo.SignVO">
        select *  from sign
        <where>
            <if test="name!=null">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="number!=null">
                and number=#{number}
            </if>
        </where>
    </select>

    <update id="update">
        update sign
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="signStatus != null">sign_status = #{signStatus},</if>
            <if test="signTime != null">sign_time = #{signTime},</if>
            <if test="dormitoryNumber != null">dormitory_number = #{dormitoryNumber},</if>
        </set>
        where number = #{number}
    </update>

    <select id="sumByMap" resultType="java.lang.Integer">
        select sum(sign_status) from sign
        <where>
            <if test="beginTime != null">
                and sign_time &gt; #{beginTime}
            </if>
            <if test="endTime != null">
                and sign_time &lt; #{endTime}
            </if>
        </where>
    </select>
</mapper>
