<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qgsg.mapper.StudentMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into student (id,number, name, sex, age, phone, finger_print, dormitory_number, building_number,sign_status,sign_time)
        values (#{id},#{number},#{name},#{sex},#{age},#{phone},#{finger_print},#{dormitory_number},#{building_number},#{sign_status},#{sign_time})
    </insert>


    <update id="update">
        update student
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="dormitory_number != null">dormitory_number = #{dormitory_number},</if>
            <if test="building_number != null">building_number = #{building_number},</if>
            <if test="finger_print != null">finger_print = #{finger_print},</if>
            <if test="sign_status != null">sign_status = #{sign_status},</if>
        </set>
        where number = #{number}
    </update>

    <select id="pageQuery" resultType="com.qgsg.vo.StudentVO">
        select *  from student
        <where>
            <if test="name!=null">
                and d.name like concat('%',#{name},'%')
            </if>
            <if test="number!=null">
                and number=#{number}
            </if>
        </where>

    </select>
</mapper>
