<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qgsg.mapper.IOTSensorMapper">

    <resultMap id="BaseResultMap" type="com.qgsg.domain.IOTSensor">
        <result property="deviceId" column="device_id" jdbcType="INTEGER"/>
        <result property="sensorTag" column="sensor_tag" jdbcType="VARCHAR"/>
        <result property="sensorName" column="sensor_name" jdbcType="VARCHAR"/>
        <result property="sensorVal" column="sensor_val" jdbcType="FLOAT"/>
        <result property="recordTime" column="record_time" jdbcType="TIMESTAMP"/>
    </resultMap>
</mapper>
