<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qgsg.mapper.SignMapper">

    <select id="signpage" resultType="com.qgsg.vo.SignVO">
        select *  from sign
        <where>
            <if test="name!=null">
                and name like concat('%',#{name},'%')
            </if>
            <if test="number!=null">
                and number=#{number}
            </if>
            <if test="signTime!=null">
                and sign_time=#{signTime}
            </if>
        </where>
    </select>
    <select id="selectToday" resultType="java.lang.Integer">
       select count(id) from sign
        <where>
        <if test="begin!=null">
            and sign_time &gt; #{begin}
        </if>
        <if test="end!=null">
            and sign_time &lt; #{end}
        </if>
        <if test="signStatus != null">
            and sign_status = #{signStatus}
        </if>
       </where>
    </select>

    <update id="update">
        update sign
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="signStatus != null">sign_status = #{signStatus},</if>
            <if test="signTime != null">sign_time = #{signTime},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="specificReason != null">specific_reason = #{specificReason},</if>
            <if test="dormitoryNumber != null">dormitory_number = #{dormitoryNumber},</if>
        </set>
        where id = #{id}
    </update>

</mapper>
